.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1450px) {
    .content-container {
        width: 700px;
        gap: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .content-container {
        width: 450px;
        gap: 100px;
    }
}