.main-container {
    display: flex;
    gap: 35px;
    max-width: 1200px;
    min-height: 70dvh;
    margin: 0 auto;
    padding: 20px 30px;

}

@media only screen and (max-width: 780px) {
    .main-container {
        flex-direction: column;
        gap: 20px;
    }
}