.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc((100% - 150px) / 6), 1fr));
    gap: 30px;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

@media only screen and (max-width: 1450px) {
    .list-container {
        grid-template-columns: repeat(auto-fill, minmax(calc((100% - 60px) / 3), 1fr));
    }
}

@media only screen and (max-width: 800px) {
    .list-container {
        grid-template-columns: repeat(auto-fill, minmax(calc((100% - 60px) / 2), 1fr));
    }
}