@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-card {
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    }

    .searchbar-focus {
        outline: none;
        border-color: #83dc9c;
        box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.1);
    }

}

.search-scroll::-webkit-scrollbar {
    height: 2px;
}


.card-scroll::-webkit-scrollbar {
    width: 2px;
}

.main-scroll::-webkit-scrollbar-thumb {
    background-color: #ffa92d;
    border-radius: 15px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.main-scroll:hover::-webkit-scrollbar-thumb {
    background-color: #ff780d;

}