.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10dvh;
    background: rgb(255, 120, 13);
    background: linear-gradient(90deg, rgba(255, 120, 13, 1) 0%, rgba(255, 246, 95, 1) 100%);
}